<p id="notice"><%= notice %></p>

<h1>WHAT TO DO WHEN IN L.A.</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th>Visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= link_to adventure.name, adventure %></td>
        <td><%= adventure.description %></td>
       <!--  <td><%= adventure.picture %></td> -->
       <td><%= image_tag(adventure.picture_url, :width => 100) if adventure.picture.present? %></td>
        <td><%= adventure.visit %></td>
        <td><%= link_to 'Show', adventure %></td>
        <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new">
<%= link_to 'Add new adventure!', new_adventure_path %>
</div>
<br>

<p class="deadline">You have <span class="bucketcount"><%= @count %></span> items on your bucket list. Get moving.</p>